%section.content-header
  %h1
    Income and Expense
    %small History
  %ol.breadcrumb
    %li
      %a
        %i.fa.fa-dashboard
        Home
    %li.active Income and expense
%hr

%section.content-header
  .box.box-success
    .box-header
      %h4
        Download Transaction History in PDF Format
      = form_for :record, :url => download_pdf_transaction_records_path(:format => 'pdf'), :method => :post, :html => {:class => "form-horizontal", :id => "download_record"} do |f|
        .form-group
          .col-md-2
            = f.label "Date From :", :class => "control-label"
          .col-md-3
            = f.date_field :date_from, :class => "form-control"
          .col-md-2
            = f.label "Date To :", :class => "control-label"
          .col-md-3
            = f.date_field :date_to, :class => "form-control"
          .col-md-2
            = f.submit "Download", :class => "btn btn-sm btn-default control-label", :formtarget => "_blank"

%section.content
  .box.box-success
    .box-header
      %h4
        Total Transaction History
    .box-body
      %table.table.table-responsive.table-bordered
        - if @transaction_records.empty?
          = "No any Income and Expense Record"
        - else
          %tr
            %th Process Type
            %th Category
            %th Amount
            %th Process Date
          - @transaction_records.each do |record|
            %tr
              %td= record.process_type
              - if record.process_type == 'Income'
                - category = record.process.income_category.income_source.to_s+' - '+record.process.description.to_s
              - elsif record.process_type == 'Expense'
                - category = record.process.expense_category.expense_source.to_s+' - '+record.process.description.to_s
              %td= category
              %td= record.process.amount
              %td= record.process.date
    = will_paginate @transaction_records , renderer: BootstrapPagination::Rails
