%header.main-header
  .logo
    %span.logo-mini
      %b EIM
    %span.logo-lg
      %b Expense Manager
  %nav.navbar.navbar-static-top{:role => "navigation"}
    %a.sidebar-toggle{"data-toggle" => "offcanvas", :href => "#", :role => "button"}
      %span.sr-only Toggle navigation
    .navbar-custom-menu
      %ul.nav.navbar-nav
        - if user_signed_in?
          %li.dropdown.user.user-menu
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              %img.user-image{:alt => "User Image", :src => "/assets/admin-user.png"}
                %span.hidden-xs
                  = "#{current_user.name}"
            %ul.dropdown-menu
              %li.user-header
                %img.img-circle{:alt => "User Image", :src => "/assets/admin-user.png"}
                  %p
                    = "#{current_user.name}"
                    %small
                      = "Member since #{current_user.created_at.strftime("%B %Y")}"
              %li.user-footer
                .pull-right
                  = link_to "Sign out",destroy_user_session_path, :class => "btn btn-default btn-flat", :onclick=> "location.href='/users/sign_out'"
        - else
          %li
            %a{:href => "/users/sign_in"} Sign In
          %li
            %a{:href => "/users/sign_up"} Sign Up
