%section.content-header
  %h1
    Income
    %small Category
  %ol.breadcrumb
    %li
      %a
        %i.fa.fa-dashboard
        Home
    %li.active Income Category
%hr
%section.content
  .box.box-success
    .box-header
      %h4
        Add Income Category
    .box-body
      = form_for @income_category, :url => save_income_category_incomes_path, :method => :post, :html => {:class => "form-horizontal", :id => "income_category"} do |f|
        .form-group
          .col-md-4.col-md-offset-1
            = f.label :income_source, :class => "control-label"
          .col-md-5
            = f.text_field :income_source, :class => "form-control"
        .form-group
          .col-md-4.col-md-offset-1
            = f.label :description, :class => "control-label"
          .col-md-5
            = f.text_field :description, :class => "form-control"  
        .box-footer
          .col-md-offset-1
            = f.submit "Submit", :class => "btn btn-success"