.form-group
  .col-md-4.col-md-offset-1
    = f.label :amount, :class => "control-label"
  .col-md-5
    = f.text_field :amount, :class => "form-control"
.form-group
  .col-md-4.col-md-offset-1
    = f.label :date, :class => "control-label"
  .col-md-5
    = f.date_field :date, :class => "form-control"
.form-group
  .col-md-4.col-md-offset-1
    = f.label "select Category", :class => "control-label"
  .col-md-5
    = f.collection_select :expense_category_id, ExpenseCategory.all, :id, :expense_source, {:prompt => "Select Category"}, {:class => "form-control"}
.form-group
  .col-md-4.col-md-offset-1
    = f.label "Description", :class => "control-label"
  .col-md-5
    = f.text_area :description, class: 'form-control'
.checkbox
  .col-md-12.col-md-offset-1
    = f.check_box :refundable, {}, "YES", "NO"
    = f.label "Is this amount refundable? (Check for YES & Uncheck for NO)", class: 'text-red'
.form-group.borrower-div
  .col-md-4.col-md-offset-1
    = f.label "Borrower Name", :class=> "control-label"
  .col-md-5
    = f.collection_select :borrower_id, current_user.borrowers, :id, :name, {:prompt => "Select Name"}, {:class=> "form-control"}

