<!DOCTYPE html>
<html>
	<head>
		<title>Expincpro</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</head>
	<body class="hold-transition skin-blue sidebar-mini" data-no-turbolink = "true">
		<div class="wrapper">
			<%= render :partial => "shared/navigation_bar"%>
			<div class="content-wrapper">
				<div>
					<%= render "shared/messages.html.haml"%>
					<%= yield %>
				</div>
			</div>
			<footer class="main-footer">
				<div class="pull-right hidden-xs">
					<b>Designed by </b>
					Vikram
				</div>
				<strong> Copyright &copy; 2015-2016
				All rights reserved.
			</footer>
		</div>
	</body>
</html>